input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(25, 186, 218) inset !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(12, 143, 170);
  background: linear-gradient(
    142deg,
    rgba(12, 143, 170, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 420px;
  background: linear-gradient(
    142deg,
    rgb(10, 111, 131) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  padding: 20px;
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

.form-image {
  position: relative;
  left: -5.47rem;
}

.form-inputs {
  border: none;
  outline: none;
  background: none;
  color: #e6e6e6;
  padding: 10px;
  border-radius: 50px;
  margin: 2rem 0 1rem 0;
}

.form-inputs * {
  font-weight: bold;
  font-size: 1.2rem;
  color: #e6e6e6b9;
}

.form-login-buttom {
  background: linear-gradient(
    142deg,
    rgb(10, 111, 131) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  transition: 0.2s;
  box-shadow: 6px 5px 10px 0px #000;
}

.form-login-buttom:active {
  background: linear-gradient(
    142deg,
    rgba(10, 111, 131, 0.455) 0%,
    rgba(0, 212, 255, 0.455) 100%
  );
  transition: 0.2s;
}

mat-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  opacity: .6;
}