<div class="container mat-elevation-z8">
  <h1 class="full-width">Criando chamado</h1>
  <img class="full-width" src="assets/img/chamado-create.svg" alt="" />

  <form class="form">
    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Título do chamado</mat-label>
      <input
        [(ngModel)]="chamado.titulo"
        name="titulo"
        [disabled]="true"
        matInput
        maxlength="50"
        required
        placeholder="ex: Trocar bateria de notebook"
      />
      <mat-icon matSuffix>account_box</mat-icon>
      <mat-hint>Título</mat-hint>
    </mat-form-field>
    <div class="inputForm">
      <mat-form-field appearance="outline">
        <mat-label>Status: ({{retornaStatus(chamado.status)}})</mat-label>
        <mat-select
          [(ngModel)]="chamado.status"
          [disabled]="true"
          name="status"
          [(value)]="chamado.status"
        >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prioridade: ({{retornaPrioridade(chamado.prioridade)}})</mat-label>
        <mat-select
          [disabled]="true"
          [(ngModel)]="chamado.prioridade"
          name="prioridade"
          [(value)]="chamado.prioridade"
        >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tecnico: ({{ chamado.nomeTecnico }})</mat-label>
        <mat-select
          [disabled]="true"
          [(ngModel)]="chamado.tecnico"
          name="tecnico"
          [(value)]="chamado.nomeTecnico"
        >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Cliente: ({{ chamado.nomeCliente }})</mat-label>
        <mat-select
          [disabled]="true"
          [(ngModel)]="chamado.cliente"
          name="cliente"
          [(value)]="chamado.nomeCliente"
        >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="text-area full-width">
      <mat-form-field class="full-width">
        <mat-label>Descricao</mat-label>
        <textarea
          [disabled]="true"
          [(ngModel)]="chamado.observacoes"
          name="observacoes"
          class="text-area-ta"
          matInput
          placeholder="Ex. A bateria está estufada "
        ></textarea>
      </mat-form-field>
    </div>

    <div class="botoes">
      <div class="buttonsForm">
        <button
          mat-stroked-button
          class="mat-elevation-z4"
          routerLink="../../"
          color="primary"
        >
          Voltar
        </button>
      </div>
    </div>
    <p class="copwright">© 2023 Diogo Costa. Todos os direitos reservados.</p>
  </form>
</div>
