.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-dialog-actions {
  gap: 1rem;
}

.Accept {
  background-color: #cf1919;
  color: white;
}

.Decline {
  background-color: #404040;
  color: white;
}

img {
  width: 30%;
}

.mat-dialog-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 1rem auto;
}

.mat-dialog-content {
  font-weight: 400;
  margin: 1rem auto;
}
